/* General container for the entire page */
.gamePageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg);
}

/* Header Section */
.gamePageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--bg-alt);
}

.gamePageHeaderTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--fg);
}

.gamePageHeaderRow {
  display: flex;
  align-items: center;
  gap: 16px;
}

.gamePageHeaderMode {
  font-size: 1rem;
  color: var(--fg);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gamePageHeaderMode * {
  margin: 0;
}

/* Main content section */
.gamePageMain {
  margin: 0;
  display: flex;
  flex-grow: 1;
}

/* Left Section: Task Description */
.gamePageTaskDescription {
  width: 25%;
  background-color: var(--bg);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: left;
  width: 50em;
}

.gamePageEditor button {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.gamePageEditor div.margin {
  background: var(--darker);
}

.gamePageEditor div {
  background: none;
  border: none;
  background: var(--bg);
}
.gamePageEditor div.overflow-guard {
  border-radius: 10px;
  box-shadow: 0 0 10px 3px #111;
}

.gamePageTaskTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Right Section: Code Editor */
.gamePageEditor {
  flex-grow: 1;
  padding: 0 16px;
  background-color: var(--bg-alt);
  align-items: center;
  justify-content: center;
}

.testResults {
  color: #f7f7f7;
}

.submitButton {
  background-color: #357f30;
  color: #eeeeee;
}

.io {
  border-radius: 5px;
  border: solid 1px #2d3748;
  padding: 14px 13px;
  font-family: Courier, monospace;
  font-variant-ligatures: none;
  max-width: 410px;
  position: relative;
  overflow: auto;
  background-color: #333;
  color: white;
}

.io p {
  margin: 0;
  /* display: inline; */
}

.examples {
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  gap: 2rem;
}
.examples * {
  flex-grow: 1;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 40%;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
