.header {
  background-color: var(--semi-background);
  color: var(--default-text);
  padding: 10px 32px;
  display: flex;
  justify-content: center;
}

.header .container {
  flex: 1;
  background-color: var(--bg-alt);
  color: var(--fg);
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
}

.header .link {
  text-decoration: none;
  color: white;
  transition-duration: 0.3s;
}
.header h1 {
  font-size: 2rem;
}

.header svg {
  vertical-align: middle;
}

.header .link:hover {
  opacity: 0.8;
}

.buttonArray {
  display: flex;
  align-items: center;
  gap: 24px;

  .link {
    color: var(--primary);
  }
}
