/* Container styling */
.loginPageBox {
  background-color: var(--bg-light);
  padding: 2rem;
  margin: 2rem auto;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

.loginPageBox h2 {
  margin-bottom: 1.5rem;
}

.userBox input:focus {
  border-color: #61dafb;
}

.errorLabel {
  color: #ff6b6b;
  font-size: 0.85rem;
  margin-bottom: 1rem;
  display: block;
}

.inputButton {
  font-size: 1.2em;
  font-weight: 700;
  width: 100%;
  padding: 0.75rem;
  background: var(--primary);
  color: red;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.icon-button {
  padding: 0.2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
