/* Ensure html and body fill the viewport */
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Main container styling */
.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Header styling */
header {
  margin-top: 20px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

header p {
  font-size: 1.1em;
  color: #777;
}
