/*:root {*/
/*  --background: #0d0a16;*/
/*  --semi-background: #ffffff1a;*/
/*  --darker: #00000033;*/
/*  --primary: #a493d6;*/
/*  --secondary: #ff0000;*/
/**/
/*  --default-text: #e4e0ee;*/
/*  --background-text: #e4e0ee;*/
/**/
/*  --max-width: 1300px;*/
/*}*/
/**/

body {
  margin: 0;
  padding: 0;

  font-family: "Inter", Arial, sans-serif;
  font-optical-sizing: auto;
  /*font-weight: 500;*/
  font-style: normal;

  background-color: var(--background);
  color: var(--default-text);
}

/* Ensure the App container takes full viewport height */
#root {
  min-height: 100vh;
  flex-direction: column;
}
