:root {
  --background: #0D0A16;
  --semi-background: #FFFFFF1A;

  --primary: #A493D6;
  --secondary: #FF0000;

  --default-text: #E4E0EE;
  --background-text: #E4E0EE;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Light mode colors */
  }
}

body {
  margin: 0;
  padding: 0;

  font-family: "Inter", Arial, sans-serif;
  font-optical-sizing: auto;
  /*font-weight: 500;*/
  font-style: normal;

  background-color: var(--background);
  color: var(--default-text);
}

/* Ensure the App container takes full viewport height */
#root {
  min-height: 100vh;
  flex-direction: column;
}
