:root {
  /* Font settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color variables */
  --bg: #0d0a16;
  --bg-alt: color-mix(in lab, var(--bg), #ffffff 7%);
  --darker: #00000033;

  --primary: #a493d6;
  --secondary: #ff0000;
  --red: #df5858;

  --fg: #e4e0ee;
  --background-text: #e4e0ee;

  --success: green;
  --error: red;
  --warning: yellow;
}

#root {
  min-height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg);
  color: var(--fg);
}
